.invest {
  padding-bottom: 40px;

  background-image: url('../img/svg/Ster.svg');


  padding-top: 56px;
  text-align: center;

  &__title {
    color: var(--grey-color);
    text-align: center;

    font-size: 86px;

    font-weight: 700;
    line-height: 94%;


    .span__green {
      color: #23B123;
    }
  }

  &__sabtitle {

    padding-top: 64px;


    color: var(--grey-color);
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    line-height: 140%;

  }


}


.invest__input {
  padding-top: 50px;
  padding-left: 24px;
  padding-bottom: 2px;

  .know-form__field  {
    position: relative;


  }

  .invest__input2 {

    height: 76px;
    width: 533px;
    border-radius: 10px;
    background: var(--color-input);
    border: none;
    outline: 1px solid var(--green-color);

    &::placeholder {

      padding-left: 26px;

      font-size: 22px;
      font-weight: 500;

    };

    }
  }


  .invest__button {
    position: absolute;
    top: -24px;
    right: 6px;
    width: 163px;
  }


  .star {
    width: 40px;
  }

  .star1, .circle1 {
    fill: var(--color-star1);
  }

  .star2, .circle2 {
    stroke-width: 1px;
    stroke: var(--grey-color);
  }



.invest-content {
  position: relative;

  .star1 {
    position: absolute;
    top: 86px;
    left: 15%;
  }

  .star2 {
    position: absolute;
    bottom: -36px;
    right: 16%;
  }

  .circle1 {
    position: absolute;
    top: 182px;
    right: 17%;
  }

  .circle2 {
    position: absolute;
    bottom: -6px;
    left: 28%;
  }

  .money-bag {
    position: absolute;
    top: -100px;
    right: 26%;

    fill: var(--grey-color);
  }

  .dollar {
    position: absolute;
    bottom: 90px;
    left: 0%;

    fill: var(--grey-color)
  }

  .naira {
    position: absolute;
    top: 130px;
    right: 0%;

    stroke: var(--grey-color);
  }

}


.partners-logo {
  padding-top: 150px;

  transform: translate(70px, 0);

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  .partners-logo-img {
    width: 175px;
    fill: var(--grey-color);
  }

  .img-none-fill {
    fill: none;
    stroke: var(--grey-color);
  }

  .FidelityLogo {
    width: 210px;
    margin-right: 30px;
  }


}


@include desktop {

  .partners-logo {
    padding-top: 100px;
    grid-template-columns: 1fr 1fr ;
    transform: translate(0, 0);

    .partners-logo-img {
      margin-left: 50%;
      transform: translate(-50%, 0);
    }
  }

}

@include big-mobile {
  .invest__title {
    font-size: 70px;
  }

  .invest__sabtitle {
    font-size: 22px;
  }

  .know-form__field {
    max-width: 100%;
  }

  .invest__input2 {
    max-width: 100%;
  }

  .partners-logo {
    padding-top: 60px;
    grid-template-columns: 1fr;
    transform: translate(0, 0);

    .partners-logo-img {
      margin-left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

@include mobile {
  .partners-logo {
    padding-top: 30px;
  }
  .invest__button {
    width: 120px;
  }
  .btn {
    padding: 20px 12px;

  }
}

@include small-mobile {
  .invest__button {
    width: 120px;
  }
  .btn {
    padding: 20px 8px !important;


  }

  .invest__input2 {
    &::placeholder {
      font-size: 12px !important;
      font-weight: 100 !important;
    }
  }

  .invest__title {
    font-size: 40px;
  }
}


