<section class=" choose">
  <div class="container flex">

    <div class="howWorks__content">
      <div class="howWorks__content__top">
        <div class="howWorks__content__top__title">Why choose <span class="span__green">FarmVest</span></div>
        <div class="invest__sabtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu,
          mollis aenean sit dictum tincidunt. Ut arcu</div>
      </div>

      <div class="howWorks__content__bottom">

        <div class="howWorks__content__bottom__point">
          <div class=" choose__nunber">
            1
          </div>
          <div class="howWorks__content__bottom__point__text">
            <div class="howWorks__content__bottom__point__text__title choose__title">Real-time Checkup</div>

          </div>
        </div>

        <div class="howWorks__content__bottom__point">
          <div class=" choose__nunber">
            2
          </div>
          <div class="howWorks__content__bottom__point__text">
            <div class="howWorks__content__bottom__point__text__title choose__title">Real-time Checkup</div>

          </div>
        </div>

        <div class="howWorks__content__bottom__point">
          <div class=" choose__nunber">
            3
          </div>
          <div class="howWorks__content__bottom__point__text">
            <div class="howWorks__content__bottom__point__text__title choose__title">Real-time Checkup</div>

          </div>
        </div>

        <div class="howWorks__content__bottom__point">
          <div class=" choose__nunber">
            4
          </div>
          <div class="howWorks__content__bottom__point__text">
            <div class="howWorks__content__bottom__point__text__title choose__title">Real-time Checkup</div>

          </div>
        </div>

        <button class="btn-reset  btn btn--green btn--choose" type="submit">Learn More</button>



      </div>
    </div>

    <div class="choose__img">
      <img src="..//img/png/unsplash_3.png" alt="unsplash" class="">


    </div>

  </div>
</section>

<section class="customers">
  <div class="container">
    <div class="invest__title">What <span class="span__green">Customers</span> have to say</div>
    <div class="invest__sabtitle invest__sabtitle-customers-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut <br> eu, mollis aenean sit dictum tincidunt. Ut arcu, suscipit ac
    </div>

    <div class="customers-flex">
      <div class="customers-block">
        <div class="customers-block__img">
          <img src="..//img/png/Rectangle.png" alt="Rectangle" class="">
        </div>
        <div class="customers-block__text">
          <div class="invest__sabtitle-customers">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Ut eu, mollis aenean sit dictum tincidunt. Ut arcu, suscipit ac</div>
          <div class="customers-block__text__bottom">Tonia Smart</div>
        </div>
      </div>

      <div class="customers-block">
        <div class="customers-block__img">
          <img src="..//img/png/Rectangle_2.png" alt="Rectangle" class="">
        </div>
        <div class="customers-block__text">
          <div class="invest__sabtitle-customers">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Ut eu, mollis aenean sit dictum tincidunt. Ut arcu, suscipit ac</div>
          <div class="customers-block__text__bottom">Grace Obi</div>
        </div>
      </div>
    </div>

    <button class="btn-reset  btn btn--green btn--customers" type="submit">View All</button>
  </div>
</section>


<section class="app">
  <div class="container">
    <div class="app-wrapper">
      <div class="app-title">Download <span class="span__green">FarmVest app</span>
        and invest in your future</div>
      <div class="app__icons">
        <div class="app__img app__img1">
          <a href="#" class="">
            <img src="..//img/png/store1.png" alt="Rectangle" class="">
          </a>
        </div>
        <div class="app__img">
          <a href="#" class="">
            <img src="..//img/png/store2.png" alt="Rectangle" class="">
          </a>
        </div>
      </div>

      <svg class="Ellipse122">
        <use xlink:href="img/sprite.svg#Ellipse122"></use>
      </svg>
      <svg class="Ellipse123">
        <use xlink:href="img/sprite.svg#Ellipse122"></use>
      </svg>

    </div>

  </div>
</section>
