<section class="howWorks">
  <div class="container flex">

    <div class="howWorks__content">
      <div class="howWorks__content__top">
        <div class="howWorks__content__top__title">How <span class="span__green">FarmVest</span> Works</div>
        <div class="invest__sabtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu,
          mollis aenean sit dictum tincidunt. Ut arcu,
          suscipit ac etLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur </div>
      </div>
      <div class="howWorks__content__bottom">
        <div class="howWorks__content__bottom__point">
          <div class="howWorks__content__bottom__point__img">
            <svg class="">
              <use xlink:href="img/sprite.svg#carbon_mobile-download"></use>
            </svg>
            <span class="cercle"></span>
          </div>
          <div class="howWorks__content__bottom__point__text">
            <div class="howWorks__content__bottom__point__text__title">Download FarmVest</div>
            <div class="invest__sabtitle invest__sabtitle2">Start by downloading FarmVest app
              on your Android or IOS</div>
          </div>
        </div>

        <div class="howWorks__content__bottom__point">
          <div class="howWorks__content__bottom__point__img">
            <svg class="">
              <use xlink:href="img/sprite.svg#carbon_mobile-download"></use>
            </svg>
          </div>
          <div class="howWorks__content__bottom__point__text">
            <div class="howWorks__content__bottom__point__text__title">Download FarmVest</div>
            <div class="invest__sabtitle invest__sabtitle2">Start by downloading FarmVest app
              on your Android or IOS</div>
          </div>
        </div>

        <div class="howWorks__content__bottom__point">
          <div class="howWorks__content__bottom__point__img">
            <svg class="">
              <use xlink:href="img/sprite.svg#carbon_mobile-download"></use>
            </svg>
          </div>
          <div class="howWorks__content__bottom__point__text">
            <div class="howWorks__content__bottom__point__text__title">Download FarmVest</div>
            <div class="invest__sabtitle invest__sabtitle2">Start by downloading FarmVest app
              on your Android or IOS</div>
          </div>
        </div>

        <div class="howWorks__content__bottom__point">
          <div class="howWorks__content__bottom__point__img">
            <svg class="">
              <use xlink:href="img/sprite.svg#carbon_mobile-download"></use>
            </svg>
          </div>
          <div class="howWorks__content__bottom__point__text">
            <div class="howWorks__content__bottom__point__text__title">Download FarmVest</div>
            <div class="invest__sabtitle invest__sabtitle2">Start by downloading FarmVest app
              on your Android or IOS</div>
          </div>
        </div>



      </div>
    </div>

    <div class="howWorks__img">
      <img src="..//img/png/unsplash.png" alt="unsplash" class="">

      <svg class="Ellipse122">
        <use xlink:href="img/sprite.svg#Ellipse122"></use>
      </svg>
      <svg class="Ellipse123">
        <use xlink:href="img/sprite.svg#Ellipse122"></use>
      </svg>
    </div>

  </div>
</section>
