<section class="pathway">
  <div class="container flex">

    <div class="howWorks__img">
      <img src="..//img/png/unsplash_2.png" alt="unsplash" class="">

      <svg class="Ellipse122">
        <use xlink:href="img/sprite.svg#Ellipse122"></use>
      </svg>
      <svg class="Ellipse123">
        <use xlink:href="img/sprite.svg#Ellipse122"></use>
      </svg>
    </div>

    <div class="howWorks__content">
      <div class="howWorks__content__top">
        <div class="howWorks__content__top__title fff">
          Your <span class="span__green">Fpathway</span> to Future Investment
        </div>
        <div class="invest__sabtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu,
          mollis aenean sit dictum tincidunt. Ut arcu,
          suscipit ac etLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur </div>
      </div>
      <div class="howWorks__content__bottom">

        <div class="howWorks__content__bottom__point">

          <div class="accordion accordion-1">
            <button class="accordion__control" >
              <span class="accordion__title">What is FarmVest?</span>
              <span class="accordion__icon"></span>
            </button>
            <div class="accordion__content" >
              <a>Lorem ipsum dolor sit amet.</a> <br>
              <a>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
            </div>
          </div>

        </div>


        <div class="howWorks__content__bottom__point">

          <div class="accordion accordion-2">
            <button class="accordion__control" >
              <span class="accordion__title">What is FarmVest?</span>
              <span class="accordion__icon"></span>
            </button>
            <div class="accordion__content" >
              <a>Lorem ipsum dolor sit amet.</a> <br>
              <a>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
            </div>
          </div>

        </div>

        <div class="howWorks__content__bottom__point">

          <div class="accordion accordion-3">
            <button class="accordion__control" >
              <span class="accordion__title">What is FarmVest?</span>
              <span class="accordion__icon"></span>
            </button>
            <div class="accordion__content" >
              <a>Lorem ipsum dolor sit amet.</a> <br>
              <a>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
            </div>
          </div>

        </div>





      </div>
    </div>


  </div>
</section>
